
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>选课管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../public/css/login.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">选课管理系统</h2>
        <label for="inputEmail" class="sr-only">Id</label>
        <input id="inputId" type="text" class="form-control" placeholder="学号/工号" name='id' required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="密码" >
        <div>
            登陆身份：
            <label class="radio-inline">
                <input type="radio" name="identity" id="inlineRadio1" value="student"> 学生
            </label>
            <label class="radio-inline">
                <input type="radio" name="identity" id="inlineRadio2" value="teacher"> 教师
            </label>
        </div>
        <br>
        <button class="btn btn-success btn-primary btn-block" type="submit">登陆</button>

      </form>

    </div> <!-- /container -->

    <script>
        // function goto(){
        //     var id = document.getElementById("inputId").value
        //     console.log(id)
        // }

    </script>
 




    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
